# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/
.mypy_cache/
.pytest_cache/

# Node
**/node_modules/
.next/
out/

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docker
docker/
Dockerfile*
docker-compose*.yml

# Misc
*.log
.DS_Store
.env
.env.*
!.env.example
README.md
docs/
.github/
