{
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml", "*.json"],
            "options": { "tabWidth": 2 }
        }
    ]
}
